body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: yellow;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    align-items: center;     /* centra orizzontalmente */
    height: 100vh;

    margin: 0;
    gap: 20px; /* distanza tra titolo e bottoni */
}

/* stile bottoni */
.container button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: large;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

/* contenitore centrato */
.container {
    display: flex;
    flex-direction: row; /* bottoni uno sotto l’altro */
    align-items: center;    /* 👈 centra i bottoni */
    gap: 15px;
}

/* bottone 1 */
.start_button {
    background-color: yellow;
    color: black;
}

/* bottone 2 */
.stop_button {
    background-color: yellow;
    color: black;
}

.quit_button {
    background-color: yellow;
    color: black;
}

.edit_button {
    background-color: yellow;
    color: black;
}

.edit_button:hover {
    background-color: #95b1af;
    color: black;
}

.quit_button:hover {
    background-color: #bc5b3f;
}

.stop_button:hover {
    background-color: red;
}

.start_button:hover {
    background-color: #aaea0e;
    color: black;
}

.page_logo {
    height: 150px;
    width: auto;
}

.preset_but_1:hover {
    color: black;
    background-color: yellow;
}
.preset_but_2:hover {
    color: black;
    background-color: yellow;
}
.preset_but_3:hover {
    background-color: yellow;
}
.preset_but_4:hover {
    background-color: yellow;
}
.preset_but_5:hover {
    background-color: yellow;
}

.preset_but_1 {
    background-color: #031926;
    color: #F4E9CD;
}
.preset_but_2 {
    background-color: #468189;
    color: #F4E9CD;
}
.preset_but_3 {
    background-color: #77ACA2;
    color: black;
}
.preset_but_4 {
    background-color: #9DBEBB;
    color: black;
}
.preset_but_5 {
    background-color: #F4E9CD;
    color: black;
}